.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1 1 20%;
  position: relative;
  @media (max-width: 768px) {
    display: none;
  }
}
.userText {
  font-size: 20px;
  color: var(--primary-text-color);
}
