.btn {
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  gap: 15px;
  max-width: 150px;

  &:disabled {
    background-color: var(--background-light-color);
    color: var(--secondary-text-color);
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  &:not(:disabled):hover {
    background-color: var(--primary-hover-color);
  }
}
.secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
  &:not(:disabled):hover {
    background-color: var(--secondary-text-color);
  }
}
.transparent {
  background-color: transparent;
  padding: 0;
}

.arrow {
  background-color: transparent;
  > svg {
    width: 40px;
    height: 40px;
    & path {
      fill: var(--primary-text-color);
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.filter {
  background-color: transparent;
}
.clear {
  background-color: var(--background-light-color);
}
