.container {
  width: 100%;
}
.input {
  border-radius: 10px;
  width: 100%;
  padding: 16px 20px;
  background-color: var(--background-graphite-color);
  outline: none;
  border: none;
  box-sizing: border-box;
  color: var(--primary-text-color);
  font-size: 17px;
  &[data-valid='false'] {
    border: 2px solid var(--tms-error-color);
  }
  &:focus {
    border: 2px solid var(--primary-hover-color);
  }
  &:disabled {
    background-color: var(--secondary-text-color);
  }
}
.label {
  line-height: 44px;
  @media (max-width: 768px) {
    line-height: 25px;
  }
}
.error {
  color: var(--error-color);
  text-align: center;
}
