.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px 64px 56px 64px;
  @media (max-width: 768px) {
    padding: 15px 32px 28px 32px;
  }
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.footer {
  color: var(--secondary-text-color);
  padding: 30px 64px 56px 64px;
  @media (max-width: 768px) {
    text-align: center;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 0 1 20%;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
}
@media (max-width: 935px) {
  .menu {
    display: none;
  }
}
