.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding-bottom: 64px;
  @media (max-width: 768px) {
    position: relative;
    gap: 15px;
  }
  @media (max-width: 520px) {
    flex-wrap: wrap;
  }
  .pixema {
    flex: 1 1 20%;
  }

  & .burger {
    display: none;
    position: relative;

    @media (max-width: 768px) {
      display: flex;
    }
  }
  .menu {
    color: var(--primary-text-color);
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    display: none;
    border: 2px solid var(--background-graphite-color);
    border-radius: 10px;
    background-color: var(--background-dark-color);
    transform: translateX(120%);
    transition: transform 300ms ease-in-out;

    z-index: 1000;
    width: 150px;
    &[data-open='true'] {
      transform: translateX(20%);
    }
    @media (max-width: 768px) {
      display: flex;
    }
    @media (max-width: 520px) {
      top: 30%;
    }

    a {
      color: var(--secondary-text-color);
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      font-size: 20px;
      &:not(:last-child) {
        border-bottom: 1px solid var(--background-graphite-color);
      }
      &:hover,
      &:active {
        color: var(--primary-hover-color);
      }
    }
  }
}
